
.wrapper{
	display: flex;
	flex-direction: column;
}

[class*='__container']{
	max-width: 1100px;
	padding: 15px;
	margin: 0px auto;
}

.main {
	flex: 1 1 auto;
}

.main__container{
	display: flex;
	gap: 30px;
}







